@{
    ViewData["Title"] = "Home Page";
}
@model List<SmartTempDashboard.Models.Temperature>


<h2>Table</h2>

<pre>@ViewBag.Data</pre>
<canvas id="suhuChart" width="800" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Data dari C# ke JavaScript
    const suhuData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

    const labels = suhuData.map(item => new Date(item.Timestamp).toLocaleTimeString());
    const values = suhuData.map(item => item.Temp);

    const ctx = document.getElementById('suhuChart').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Suhu (°C)',
                data: values,
                borderWidth: 2,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>