@{
    ViewData["Title"] = "Home Page";
}


<h2>Live Graph</h2>
<h2>Aktuelle Temperatur: <span id="liveTemp">-- °C</span></h2>
<canvas id="TemperatureChart" width="800" height="400"></canvas>
<!--Use Chartjs and SignalR for dynamic graph-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload= function () {
    var suhuData = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

     var latest = suhuData.slice(-30); // get last 30 entries
     var labels = latest.map(x => new Date(x.Timestamp).toLocaleTimeString());
     var values = latest.map(x => x.Temp);

    var ctx = document.getElementById('TemperatureChart').getContext('2d');
    window.myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels, // empty initially
            datasets: [{
                label: 'Temperature (°C)',
                data: values,
                borderColor: 'rgb(75, 192, 192)',
                fill: false,
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

    // Connect to SignalR Hub
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("/charthub")
        .build();

    connection.on("ReceiveTemperature", function (temp) {
        //Update temperature text
        document.getElementById("liveTemp").innerText = `${temp.temp} °C`;

        //Convert timestamp
        var timestamp=new Date(temp.timestamp).toLocaleTimeString();
        // Update your chart dynamically here
        addDataToChart(timestamp, temp.temp);
    });

    connection.start();

    function addDataToChart(timestamp, temperature) {
     
        
        myChart.data.labels.push(timestamp);
        myChart.data.datasets[0].data.push(temperature);
        
        if (myChart.data.labels.length > 30) {
            myChart.data.labels.shift();
            myChart.data.datasets[0].data.shift();
        }

        myChart.update();
    }

    }

</script>

